.esm-order-label{
    font-family: 'Salesforce Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 27px;
}
.esm-item-label{
    font-family: 'Salesforce Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
}