.THIS .w-100p-dashboard {
    width: 100% !important;
}

/*

.THIS .dashboard-section__leftNav > li ul{
    right: -23rem !important;
}

.THIS .background{
background-image:url(/resource/newimage)!important;
    background-size:32px;
    background-position: top;
    background-repeat: no-repeat;
    }
.THIS .dashboard-section__leftNav div:hover{
    background-color:#fff;
    color:#00aae3;
    outline:2px solid !important;
}
.THIS .dashboard-section__leftNav--timesheets li:hover{
    background-color:#fff;
    color:#00aae3;
}
.THIS .dashboard-section__leftNav--timesheets li:hover a{
    color : #00aae3 !important;
}
.THIS .dashboard-section__leftNav--vacancies li:hover{
    background-color:#fff;
    color:#00aae3;
}
.THIS .dashboard-section__leftNav--vacancies li:hover a{
    color:#00aae3;
}
.THIS .dashboard-section__leftNav--temp li:hover{
    background-color:#fff;
    color:#00aae3
}
.THIS .dashboard-section__leftNav--temp li:hover a{
   color:#00aae3;
}
.THIS .dashboard-section__right-part-margin-left {
    margin-left: 17rem !important;
}
.THIS .imag
    {
        background-image:url('/profilephoto/005/T');
        width:48px;
        height:50px;
    }
.THIS .toggle {
    display: block !important;
}

.THIS .hide {
    display: none !important;
}

.THIS .dashboard-section__leftNav > li:first-child a{
    padding-top: 4rem !important;
}
.THIS .bgclrclas{
    background-color: #6194d4 !important;
}


.THIS .slds-form-element__label{
    color: #000000;
    font-weight: bold;
    font-size: initial;
    padding-bottom: 10px;
    margin-top: -10px;
}



.THIS .slds-select_container {
    height: 34px !important;
    width: 102% !important;
    font-size: 18px !important;

}
*/