.body-wrapper {
  height: 96vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 0.5em;
}

.input-container {
  width: 30em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr;
}

.header-container {
  align-self: flex-end;
}

.forgot-password-button {
  justify-self: center;
  width: 60%;
  height: 3em;
  background-color: #029de4;
}

.forgot-password-button > button {
  width: 100%;
}

.forgotten-password {
  justify-self: flex-end;
}

.hidden {
  display: none;
}
.error {
  height: 1em;
}

.general-error-container {
  min-height: 2em;
}
.general-success > p {
  width: 40ch;
  color: green;
  margin: auto;
  text-align: center;
}
.general-error > p {
  width: 40ch;
  color: red;
  margin: auto;
  text-align: center;
}
.error > p {
  color: red;
  font-size: 0.85em;
}