.THIS.canvasjs-chart-credit {
		        left: 0;
		        right: auto !important;
		        height: 40px;
		        background: #fff;
		        text-indent: -9999px !important;
		        width: 60px;
		    }