@import "c/portalV2MyShiftsCSSLibrary";
@import "c/portalV2CSSLibrary";
:host {
    --sds-c-checkbox-color-background-checked: #029de4;
    --sds-c-checkbox-mark-color-foreground: #ffffff;
    --sds-c-button-brand-color-background: #029de4;
    --sds-c-button-brand-color-background-hover: #029de4;
    --sds-c-button-brand-color-border: #029de4;
    --sds-c-button-brand-color-border-hover: #029de4;
    --sds-c-button-outline-brand-color-border: #029de4;
    --grey-bg: #f9f9f9;
  }
  
  .main__header {
    font-size: 2vw;
  }

  .sub__header {
    font-size: 1vw;
  }
  
  .flex__row {
    flex-direction: row;
  }
  .job-info{
   background-color: var(--grey-bg);
  }
  
  .table__header__actionbar {
    padding: 0.5rem 0 0.5rem 0;
    background-color: var(--grey-bg);
  }
  
  .table__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--grey-bg);
  }
  
  .table__footer__actionbar {
    padding: 0.5rem 0 0.5rem 0;
    background-color: var(--grey-bg);
  }

  .table__footer__actionbar > * {
  justify-content: space-between;
}
  
  .brand__button__radius {
    border-radius: 50px;
  }
  
  .table__select__row {
    width: 3.25rem;
  }
  
  .body__row,
  .checkbox__column {
    height: 7vh;
  }
  
  .column_adjust__modal {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 70%;
  }
  
  .clickable__element:hover {
    cursor: pointer;
  }
  
  .filter__modal {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 2;
  }
  
  .status_box {
    border-radius: 5px;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: #53565a;
    font-size: 16px;
  }
  
  .status_awaiting_approval {
    background-color: rgb(243, 243, 243);
  }
  
  .status_awaiting_approval_sub_class {
    background-color: rgb(243, 243, 243);
  }
  
  .status_approved_and_awaiting_processing {
    background-color: #d7f5ea;
  }
  
  .status_approved_and_awaiting_processing_sub_class {
    background-color: rgb(243, 243, 243);
  }
  
  .status_processed {
    background-color: rgb(145, 219, 139);
  }
  
  .status_processed_sub_class {
    background-color: rgb(145, 219, 139);
  }
  
  .status_rejected {
    background-color: #ffbfb8;
  }
  
  .status_rejected_sub_class {
    background-color: rgb(243, 243, 243);
  }
  
  .modalBody {
    position: relative;
    min-height: 200px;
  }
  
  .word_wrap {
    display: inline-table;
    word-break: break-word;
  }
  
  @media only screen and (min-height: 768px) {
    .table_layout {
      overflow-x: auto;
      max-height: 62vh;
    }
  }
  
  @media only screen and (min-height: 1000px) {
    .table_layout {
      overflow-x: auto;
      max-height: 69vh;
    }
  }
  
  .table-header {
    font-size: 0.88rem;
    color: #53565a;
    letter-spacing: 0;
    font-weight: 600;
  }
  
  .body-text {
    font-size: 0.88rem;
    color: #53565a;
    letter-spacing: 0;
    font-weight: 400;
  }
  
  .total-hours-container {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }
  
  .column-title-text {
    max-width: 11ch;
  }
  
  .column-header-container {
    min-width: max-content;
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    white-space: normal;
    justify-content: center;
    text-align: center;
  }

  .scrollable-box {
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling if not needed */
    padding: 1rem; /* Add padding for better appearance */
    border: 1px solid #d8dde6; /* Optional: add a border to match Salesforce style */
}
 .rstable__header {
    position: relative;
    top: 0;
    z-index: 1;
    background: var(--grey-bg);
  }


.status-in-review {
    color: yellow;
}

.status-progressed {
    color: green;
}

.status-submitted {
    color: black;
}
.custom-dropdown {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

.custom-dropdown .slds-dropdown__item {
  padding: 8px;
  cursor: pointer;
}

.custom-dropdown .slds-dropdown__item:hover {
  background: #f4f4f4;
}

.hovereffect:hover{
  border-bottom: 1px solid #00A1E0;
}
.link-style {
  text-decoration: none;
  cursor: pointer;
}
.link-style:hover {
  text-decoration: underline;  
  color: #00569c;              
}
.email-field {
  max-width: 100%; /* This allows the email to take up the available width */
  word-wrap: break-word; /* This forces the text to wrap */
  white-space: normal; /* This enables line breaks */
}

.External {
  background-color: #d1eaff;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: right;
  width: fit-content;
  max-width: 75%; 
  float: right;
  clear: both;
  word-wrap: break-word;
  
  
}

.Internal{
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
  text-align: left;
  float: left; /* Align the whole div to the right */
  clear: both;
  width: fit-content;
  max-width: 75%; /* Set a maximum width to prevent too wide bubbles */
  word-wrap: break-word; 
}

.message-input-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  background-color: white; 
  width: 100%;
  padding:1rem;
  padding-top:0;
}