.slds-sticky-container {
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #d8dde6;
}

.slds-is-relative {
    position: relative;
}
.btn_addremove{
    background: #099096;
    color: #fff;
    font-size: 14px;
    border: 1px solid #099096;
    border-radius: 5px;
    padding: 5px 10px;
}
.cancel-button {
    margin-left: 5px; /* Adjust the value as needed */
}