.THIS .dashboard-section__leftNav ul li a:hover{
    background-color:#fff;color:#00aae3
}
.THIS .dashboard-section__leftNav ul li a{
    color:#fff;
    font-size:1.6rem;
    padding-top:1rem;
    padding-bottom:1rem;
 }
.THIS .imag
    {
        background-image:url('/profilephoto/005/T');
        width:48px;
        height:50px;
    } 
.THIS .headeNav__right > li > a {
    display: flex;
    align-items: center;
    color: #31383b;
    font-size: 21px;
    font-size: 2.1rem;
    margin-top: 10px;
    font-weight: bold;
}
.THIS .slds-form-element__label{
    color: #000000;
    font-weight: bold;
    font-size: initial;
    padding-bottom: 10px;
    margin-top: -10px;
}
.THIS.selectrole {
    width: 100%;
    height: 5rem;
    padding: 15px 10px;
    padding-right: 25px;
    z-index: 1;
    background-color: transparent !important;
    outline: none !important;
    border: 1px solid #d7d7d7;
    margin-bottom: 1.5rem;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "DINPro";
    font-color:#333333;
    font-size:14px;
}

.THIS .selectrole {
    width: 100%;
    height: 5rem;
    padding: 15px 10px;
    padding-right: 25px;
    z-index: 1;
    background-color: transparent !important;
    outline: none !important;
    border: 1px solid #d7d7d7;
    margin-bottom: 1.5rem;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "DINPro";
    color:#333333;
    font-color:#333333;
    font-size:14px;
}
.THIS .spins::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
    font: 18px arial, sans-serif;
}
.THIS .uiheight{
    height:20px;
    width:20px;
}
.THIS .custom-checkbox.shift-checkbox{
    margin-top:10px !important;
    margin-left:-6px !important;
    cursor: default !important;
}
.THIS .tab-section .nav-tabs > li > a:hover {
    text-decoration: underline;
}