.main__header {
  font-size: 2vw;
}

.column-adjust-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70%;
}

.blue-arrow-brand-colour {
  color: #029de4;
}

.grid-layout {
  display: grid;
  gap: 1em;
  justify-items: center;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 85em) {
  .grid-layout {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
}

:host {
  --sds-c-button-brand-color-background: #029de4;
}