.THIS  .highcharts-axis-title{
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    fill: #333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;;
}