.THIS .dashboard-section__leftNav>li ul {
    right: -23rem !important;
}

.THIS .dashboard-section__leftNav div:hover {
    background-color: #fff;
    color: #00aae3;
    outline: 2px solid !important;
}

.THIS .background {
    background-image: url(/resource/newimage) !important;
    background-size: 32px;
    background-position: top;
    background-repeat: no-repeat;
}

.THIS .dashboard-section__leftNav--timesheets li:hover {
    background-color: #fff;
    color: #00aae3;
}

.THIS .dashboard-section__leftNav--timesheets li:hover a {
    color: #00aae3 !important;
}

.THIS .dashboard-section__leftNav--vacancies li:hover {
    background-color: #fff;
    color: #00aae3;
}

.THIS .dashboard-section__leftNav--vacancies li:hover a {
    color: #00aae3;
    color: #00aae3;
}

.THIS .dashboard-section__leftNav--temp li:hover {
    background-color: #fff;
    color: #00aae3
}

.THIS .dashboard-section__leftNav--temp li:hover a {
    color: #00aae3;
}

.THIS .dashboard-section__leftNav ul li a {
    color: #fff;
    font-size: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.THIS .imag {
    background-image: url('/profilephoto/005/T');
    width: 48px;
    height: 50px;
}

.THIS #overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #F6F6F6;
    opacity: 0.90;
    text-align: center;
    padding-top: 30%;

}

.THIS #overlay img {
    position: fixed;

}

.THIS imga {
    margin-bottom: 500px;

}

.THIS .spins::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: strong;
    font: 18px arial, sans-serif;
}

.THIS.selectpickercls {
    font-family: inherit;
    font-size: 150%;
    line-height: normal;
}

.THIS.spicker {
    background-color: blue;
}

.THIS.spickeres {
    font-size: inherit;
}

.THIS.slds-select {
    height: 49px;
    margin-top: -10px;
}

.THIS.Sbutton {
    color: white;
}

.THIS .forceActionsText {
    font-size: 39px !important;
}

.THIS .slds-form-element__label {
    color: #000000;
    font-weight: bold;
    font-size: initial;
    padding-bottom: 10px;
    margin-top: -10px;
}

.THIS .centeralign {
    text-align: center;
}

.THIS .dataTables_wrapper table thead th:nth-child(-n+4):after {
    display: none;
}

.THIS .testclass {
    background-image: null;
}


.THIS #bookedTemp-popup .modal-content {
    height: auto !important;
    padding-bottom: 100px !important;
}

.THIS .hide {
    display: none;
}